<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="addService" class="com.service.AddServiceImpl" />

    <bean name="/addService" class="org.springframework.remoting.caucho.HessianServiceExporter">
        <property name="service" ref="addService" />
        <property name="serviceInterface" value="com.service.AddService" />
    </bean>
    </beans>