<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="autoMappingBehavior" value="FULL" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="25000" />
		<!-- 这个配置项是Mybatis 3.2才有的,用于显示日志.
            如果不配置这个,那么就需要直接把整个com.qbao.*.dao都配置成DEBUG级别,太不方便了
            参考文档:http://www.cnblogs.com/beiyeren/p/4196134.html
        -->
        <setting name="logPrefix" value="sqlLog." />
	</settings>

	<typeAliases>
		<!--<typeAlias type="com.qbao.sdk.server.metadata.entity.statistic.AppUserDayStatisticInfo" alias="dayStatistic"/>-->
		<!--<package name="com.qbao.sdk.server.metadata.entity" />-->
	</typeAliases>
	
	<plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql" />
        </plugin>
    </plugins>

</configuration>